body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

.list-container {
    width: 400px;
    border: 1px solid gray;
    padding: 15px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.list-item {
    padding-bottom: 10px;
    padding-top: 5px;
    border-bottom: 1px dashed lightgray;
}

.list-item:last-child {
    border-bottom: none;
}

.delete-item, .item-status {
    float: right;
}

.delete-item {
    cursor: pointer;
}
.delete-item:hover {
    text-decoration: underline;
}

.new-item-form {
    margin-top: 15px;
}

input.add-item {
    margin-right: 15px;
    width: 343px;
}
